[honeypot]
sensor_name = sensor01
hostname = localghost

[ssh]
listen_endpoints = tcp:22:interface=0.0.0.0
sftp_enabled = false

[telnet]
enabled = true

[output_mysql]
host = localhost
database = {{ cowrie_mysql_name }}
username = {{ cowrie_mysql_user }}
password = {{ cowrie_mysql_password }}
port = 3306
debug = false
enabled = true

